.wrapper{
  overflow-x: hidden;
}
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 50px;
  gap: 75px;
}

.main{
  display: flex;
  flex-direction: column;
  gap: 75px;
}
